/.idea
/.gradle
/build/*
!/build/js
/build/js/*
!/build/js/packages
/build/js/packages/*
!/build/js/packages/js-companion-notstatic
/build/js/packages/js-companion-notstatic/*
!/build/js/packages/js-companion-notstatic/kotlin

